.footer {
  background: linear-gradient(135deg, #1e1e1e, #292929);
  color: #fff;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-logo span {
  color: #f97316;
}

.footer-description {
  font-size: 14px;
  color: #bbb;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-section li:hover {
  color: #f97316;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #333;
  font-size: 14px;
  color: #aaa;
}

.footer-section li a {
  text-decoration: none;
  color: inherit; /* Сохраняет цвет текста ссылки, как у обычного текста */
}

.footer-section li a:hover {
  color: #f97316; /* Цвет при наведении */
}

.footer-section a {
  text-decoration: none;
  color: orange;
}

.footer-section a:hover {
  color: #f97316;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
