.news-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.news-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  color: #fff;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.news-card {
  background-color: #333;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 24px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  background-color: #d35400; 
  color: #fff;
}


.news-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.news-date {
  font-size: 14px;
  color: #908282;
  margin-bottom: 8px;
}

.news-card h3 {
  font-size: 20px;
  margin: 0 0 10px;
  color: #fff;
}

.news-card p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  flex-grow: 1;
}

.news-link {
  color: #007bff;
  margin-top: 16px;
  display: inline-block;
  font-weight: 500;
  transition: color 0.3s ease;
}

.news-link:hover {
  color: orange;
}
